*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

/* 
  Global Styles
*/

::selection {
  color: #fff;
  background-color: #333;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: '-apple-system', BlinkMacSystemFont, 'system-ui', Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'sans-serif';
  color: #111;
  word-break: keep-all;
  overflow-wrap: break-word;
}

#root {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

/* 
  Header
*/

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header__title > h1 {
  font-weight: 600;
  font-size: 22px;
}

#body {
  position: relative;
  width: 100%;
  margin: 40px 0;
}

.body__inner {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

/* 
  User Profile
*/

#profile-container {
  padding: 20px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.05);
}

.user-profile {
  display: flex;
  column-gap: 14px;
}

.user-profile__img {
  overflow: hidden;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-profile__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-profile__right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 4px;
}

.user-profile__name {
  font-weight: 600;
  font-size: 20px;
}

.user-profile__sns-link {
  margin: auto 0 0 auto;
  padding-top: 10px;
}

/* 
  Gnb
*/

.gnb-menu {
  display: flex;
  column-gap: 10px;
  width: fit-content;
  margin: 0 auto;
}

.gnb-menu__item {
  overflow: hidden;
  border-radius: 8px;
}

.gnb-menu__item.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.gnb-menu__item-link {
  display: block;
  min-width: 40px;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 20px;
}

.gnb-menu__item-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* 
  Articles
*/
.article {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.article + .article {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e1e1e1;
}

.article__title {
  width: fit-content;
  font-weight: 600;
  font-size: 22px;
}

.article__title-link {
  transition: box-shadow 0.3s;
}

.article__title:hover .article__title-link {
  box-shadow: inset 0 -8px rgba(0, 0, 0, 0.2);
}

.article__content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.article__content:hover > a {
  text-decoration: underline;
}

.article__meta {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
}

.article__tags {
  overflow: hidden;
  display: flex;
  column-gap: 10px;
}

.article__tag {
  min-width: 40px;
  padding: 2px 8px;
  border-radius: 6px;
  background-color: #333;
  font-size: 14px;
  color: #fff;
}

.article__tag:hover {
  background-color: rgba(0, 0, 0, 0.09);
  color: #111;
}

.article__other-info {
  display: flex;
  font-size: 14px;
  color: #444;
}

.other-info__item + .other-info__item::before {
  display: inline-block;
  margin: 0 4px;
  content: '∙';
}

/* 
  Aside Right
*/

#aside-right {
  position: absolute;
  inset: 0 0 0 auto;
  width: 100%;
  max-width: 260px;
}

.latest-update {
  position: sticky;
  top: 40px;
}

.latest-update__title {
  font-weight: 600;
}

.latest-update-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-top: 6px;
}

.latest-update-list__item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.latest-update-list__item-link {
  display: inline-block;
  transition: box-shadow 0.3s;
}

.latest-update-list__item-link:hover {
  box-shadow: inset 0 -8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1480px) {
  #aside-right {
    display: none;
  }
}
