*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: '-apple-system', BlinkMacSystemFont, 'system-ui', Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'sans-serif';
  color: #111;
}

#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  border: 1px solid #111;
}
